
/* Цвета для светлой темы */  
.light-theme {  
  background-color: #ffffff;  
  color: #000000;  
}  

/* Цвета для темной темы */  
.dark-theme {  
  background-color: #333333;  
  color: #ffffff;  
}  

/* Дополнительные стили для ваших заголовков и параграфов */  
h1, p {  
  margin: 0;  
}  

